header {
    background-color: #446c4d;
    text-align: center;
    padding : 0.5px;
    height: 170px;
  }

.title{
    color: white;
    -webkit-text-stroke: 3px black;
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px; 
    margin-top: -20px;  
}


.nav-links{
    padding-top: 30px;
    background-color: #a8ff9a;
    color: white;
    height: 70px;
    margin: 0;
}

.button{
    text-decoration: none;
    margin-left: 300px;
    color: black;
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}


.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 1280px;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
}

.footer-logo{
    color: black;
    text-align: center;
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    letter-spacing: 24px;

}